<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Literal Systems</title>
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="intro">
                <p>Hi, I'm Kunal.</p>
                <br />
                <p>
                    I'm a software engineer with 5+ years of professional
                    experience. I help startups by building web apps and setting
                    up critical infrastructure.
                </p>
                <br />
                <p>My technical skills include:</p>
                <ul>
                    <li>TypeScript, JavaScript, Python, Go, Rust</li>
                    <li>MongoDB, PostgreSQL, Elasticsearch, Kafka, Redis</li>
                    <li>React, Next.js, Tailwind CSS</li>
                    <li>AWS, Terraform, Kubernetes (K8s), Helm, ArgoCD</li>
                </ul>
                <br />
                <p>
                    I'm currently available for short-term contract work. Feel
                    free to contact me via email at {{ .Site.Params.email }} or
                    on
                    <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>.
                </p>
            </div>

            <main>
                {{ range .Site.Data.projects.projects }}
                <div class="project">
                    <div class="project-date">{{ .start }} – {{ .end }}</div>
                    <div class="project-info">
                        <div class="project-header">
                            <span>{{ .name }}</span>
                            {{ with .industry }}
                              {{ if reflect.IsSlice . }}
                                {{ range . }}
                                  <span class="industry">{{ . }}</span>
                                {{ end }}
                              {{ else }}
                                <span class="industry">{{ . }}</span>
                              {{ end }}
                            {{ end }}
                        </div>
                        <div class="project-description">
                            {{ .description | markdownify | safeHTML }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </main>

            <footer>
                <p>© 2026 Kunal Kundu</p>
            </footer>
        </div>
    </body>
</html>
