<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Literal Systems</title>
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="intro">
                <p>Hi, I'm Kunal.</p>
                <br />
                <p>
                    I'm a software engineer with 5+ years of professional
                    experience. I build reliable web applications and tools.
                </p>
                <br />
                <p>My technical skills include:</p>
                <ul>
                    <li>TypeScript, JavaScript, Python, Go</li>
                    <li>MongoDB, PostgreSQL, Elasticsearch, Kafka, Redis</li>
                    <li>React, Next.js, Tailwind CSS</li>
                    <li>AWS, Terraform, Kubernetes (K8s)</li>
                </ul>
                <br />
                <p>
                    I'm currently available for short-term contract work. Feel
                    free to contact me via email at {{ section.extra.email }} or
                    on
                    <a href="{{ section.extra.linkedin }}">LinkedIn</a>.
                </p>
            </div>

            <main>
                {% set data = load_data(path="data/projects.toml") %} {% for
                project in data.projects %}
                <div class="project">
                    <div class="project-date">
                        {{ project.start }} – {{ project.end }}
                    </div>
                    <div>{{ project.name }}</div>
                    <div class="industry">{{ project.industry }}</div>
                    <div class="skills">
                        {% for skill in project.skills %}
                        <span class="skill">{{ skill }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </main>

            <footer>
                <p>© 2026 Kunal Kundu</p>
            </footer>
        </div>
    </body>
</html>
